<% unless comment.archived? %>
    <p>
        <%= comment.body %>
    </p>
    <p class="commenter">
        ~ <%= comment.commenter %>
    </p>

    <% if current_user %>
        <%= link_to "Delete comment", [comment.article, comment], :class => 'btn', data:
        {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
        } %>
    <% end %>
<% end %>
