<!-- form_with uses an array, which will build a nested route, such as /articles/1/comments. -->
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p>
        <div><%= form.label :commenter %></div>
        <%= form.text_field :commenter %>
    </p>
    <p>
        <div><%= form.label :body %></div>
        <%= form.text_area :body %>
    </p>
    <p>
        <%= form.label :status %></br>
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>
