<%= form_with model: article do |form| %>
    <div class="field">
        <div><%= form.label :title %></div>
        <%= form.text_field :title %>
        <% article.errors.full_messages_for(:title).each do |message| %>
            <div class="error_messages"><%= message %></div>
        <% end %>
    </div>

    <div class="field">
        <div><%= form.label :body %></div>
        <%= form.text_area :body %>
        <% article.errors.full_messages_for(:body).each do |message| %>
            <div class="error_messages"><%= message %></div>
        <% end %>
    </div>

    <div class="field">
        <%= form.label :status %><br />
        <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    </div>

    <div class="action">
        <%= form.submit %>
    </div>

<% end %>
