<h1>Articles</h1>
<p>Our blog has <%= Article.public_count %> articles and counting!</p>
<ul>
    <% @articles.each do |article| %>
        <% unless article.archived? %>
            <li>
                <!-- <a href = "<%= article_path(article) %>"> -->
                <!--   <%= article.title %> -->
                <!-- </a> -->
                <%= link_to article.title, article %>
            </li>
        <% end %>
    <% end %>
</ul>


<div >
    <% if current_user %>
        <%= link_to "New Article", new_article_path, :class => 'btn'%>
    <% else %>
        To create a new article,
        <%= link_to "Sign up", signup_path %> or
        <%= link_to "Log in", login_path %>.
    <% end %>
</div>
