<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<div >
    <% if current_user %>
        <p><%= link_to "Edit article", edit_article_path(@article), :class => 'btn' %></p>

        <p><%= link_to "Delete article", article_path(@article), :class => 'btn', data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
           } %>
        </p>
    <% else %>
        To edit or delete article,
        <%= link_to "Sign up", signup_path %> or
        <%= link_to "Log in", login_path %>.
    <% end %>
</div>



<h2>Comments</h2>
<!-- This will render the partial in app/views/comments/_comment.html.erb once for each comment that is in the @article.comments collection -->
<%= render @article.comments %>

<% if current_user %>
    <h2>Add a comment</h2>

    <%= render "comments/form" %>
<% else %>
    To add or delete a comment,
    <%= link_to "Sign up", signup_path %> or
    <%= link_to "Log in", login_path %>.
<% end %>
