<h1>Sign up</h1>

<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages" >
            <h2>Form is invalid</h2>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field" >
        <div><%= f.label :email %></div>
        <%= f.text_field :email %>
    </div>
    <div class="field" >
        <div><%= f.label :password %></div>
        <%= f.text_field :password %>
    </div>
    <div>
        <div><%= f.label :password_confirmation %></div>
        <%= f.text_field :password_confirmation %>
    </div>

    <div class="actions" ><%= f.submit %></div>
<% end %>
