/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #bbd0f7;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

/* a img { */
/*   border: none; */
/* } */

a {
  color: #0000FF;
}

/* .clear { */
/*   clear: both; */
/*   height: 0; */
/*   overflow: hidden; */
/* } */

#container {
  width: 75%;
  margin: 20px auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  width: 400px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* .field_with_errors { */
/*   display: inline; */
/* } */

.error_messages {
  width: 400px;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  font-size: 12px;
  color: red;
  font-weight: bold;
}

/* .error_messages h2 { */
/*   text-align: left; */
/*   font-weight: bold; */
/*   padding: 5px 10px; */
/*   font-size: 12px; */
/*   margin: 0; */
/*   background-color: #c00; */
/*   color: #fff; */
/* } */

/* .error_messages p { */
/*   margin: 8px 10px; */
/* } */

/* .error_messages ul { */
/*   margin-bottom: 0; */
/* } */

form .field, form .actions {
  margin: 12px 0;
}

#home a {
  color: #3b5a78;
}

.flex-container {
  display: flex;
}

#home {
  flex-grow: 3;
}

a.btn {
  background: #EFEFEF;
  padding: 1px 6px;
  border: solid 1px black;
  color: black;
  text-decoration: none;
  border-radius: 3px;
}
