h1, h2 {
  color: #3b5a78;
}

h2 {
  font-size: 16px;
  margin-bottom: 2px;
  margin-top: 20px;
}

/* p { */
/*   font-style: italic; */
/*   color: #333; */
/*   margin-bottom: 8px; */
/*   font-size: 12px; */
/* } */

/* body { */
/*   padding: 15px 12px; */
/*   padding-right: 20px; */
/*   float: right; */
/*   margin-left: 20px; */
/*   margin-bottom: 200px; */
/*   margin-top: 10px; */
/*   h3 { */
/*     font-size: 14px; */
/*     margin: 0; */
/*     margin-bottom: 3px; */
/*   } */
/*   ul { */
/*     margin: 0; */
/*     padding: 0; */
/*     li { */
/*       margin: 2px 0; */
/*       margin-left: 20px; */
/*     } */
/*   } */
/* } */
