<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
    </head>

    <body>
        <div id="container" >
            <div class="flex-container">
                <div class="flex-child" id="home">
                    <%= link_to(root_path) do %>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                        </svg>
                    <% end %>
                </div>
                <div class="flex-child" id="user_header" >
                    <% if current_user %>
                        Logged in as <%= current_user.email %>
                        <%= link_to "Log out", logout_path, :class => 'btn' %>
                    <% else %>
                        <%= link_to "Sign up", signup_path, :class => 'btn' %> or
                        <%= link_to "Log in", login_path, :class => 'btn' %>
                    <% end %>
                </div>
            </div>

            <% flash.each do |name, msg| %>
                <% if name == "notice" || name == "alert" %>
                    <%= content_tag :div, msg, id: "flash_#{name}" %>
                <% end %>
            <% end %>

            <%= yield %>
        </div>
    </body>
</html>
